.bg2 {
    background-image: url('../source/bgs/bg3.png');
    background-repeat: no-repeat;
    background-position: center;
}
/* ===================================================== */
/* ===================================================== */
/* ===================================================== */
/* MAPAS */
/* default */
.linha-vermelha-esquerda {
    background-color: #e13157;
    height: 3px;
    width: 60%;
    position: absolute;
    top: 0;
    left: 0;
}

.tituloMapas {
    font-size: 40px;
    font-style: italic;
    text-transform: uppercase;
}

.linha-vermelha-direita {
    background-color: #e13157;
    height: 3px;
    width: 60%;
    position: absolute;
    right: 0px;
}

.containerMapas {
    display: flex;
    margin: 50px 0;
    overflow: scroll;
    overscroll-behavior: none;
    overflow-y: hidden;
    position: relative;

}

.containerMapas::after {
    content: ">";
    position: absolute;
    right: 20px;
    top: 45%;
    font-size: 80px;
    color: #e13157;
    text-shadow: -5px 5px 5px #0e0e0e;
    cursor: pointer;
}

.containerMapas::before {
    content: "<";
    position: absolute;
    left: 20px;
    top: 45%;
    font-size: 80px;
    color: #e13157;
    text-shadow: 5px 5px 5px #0e0e0e;
    cursor: pointer;
}

.mapaImg {
    max-width: 500px;
    padding: 10px;
    border-radius: 20px;
    display: block;
    cursor: pointer;
}

.verMaisMapas {
    text-align: right;
    padding: 10px;
    margin-right: 50px;
    color: #e13157;
    font-size: 20px;
    cursor: pointer;
}


/* modal */
.modalMapaBG {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #e131572a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(207, 207, 207);
    margin: 0;
    padding: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
}

.modal {
    border-radius: 15px;
    width: 50%;
    position: relative;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.imagemMapa {
    width: 100%;
    border-radius: 15px;
}

.btnFechar {
    color: #e13157;
    text-shadow: 3px 3px 5px #000000;
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: #00000000;
    border: none;
    font-weight: bolder;
    font-size: 3em;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.btnFechar::before {
    content: "X";
}


/* ===================================================== */
/* ===================================================== */
/* ===================================================== */
/* ARMAS */
.containerArmas {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-columns: auto;
    gap: 0px 0px;
    /* grid-auto-flow: row; */
    grid-template-areas:
        "selecionaArmas imagemArmas";
}

.selecionaArmas {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 0px 0px;
    /* grid-auto-flow: row; */
    grid-template-areas:
        "containerArmaPrimaria"
        "containerArmaSecundaria"
        "containerArmaBranca";
    grid-area: selecionaArmas;
    justify-items: center;
}

.containerArmaPrimaria {
    grid-area: containerArmaPrimaria;
}

.containerArmaSecundaria {
    grid-area: containerArmaSecundaria;
}

.containerArmaBranca {
    grid-area: containerArmaBranca;
}

.caixaArma{
    padding: 50px;
    max-width: 300px;
    border: #ccc solid 1px;
    /* height: 195px; */
    /* width: 325px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

.imgArma{
    max-width: 50%;
}

.imagemArmas {
    grid-area: imagemArmas;
    text-align: center;
}



/* ===================================================== */
/* ===================================================== */
/* ===================================================== */
/* BAIXE */
.baixe {
    padding: 50px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.tituloBaixe {
    font-size: 40px;
    font-style: italic;
    text-transform: uppercase;
}

.listaVantagens {
    font-size: 20px;
    font-weight: lighter;
    list-style-type: none;
    padding: 0;
}

.listaVantagens li {
    margin: 20px 0;
}

.btnDownload {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e13157;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 183px;
    height: 36px;
    padding: 10px;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.btnDownload img {
    margin-right: 10px;
}


/* ===================================================== */
/* ===================================================== */
/* ===================================================== */
/* SUPORTE */
.suporte {
    background-color: #fff;
    margin: 80px;
    padding: 60px;
    color: #133052;
    border-radius: 5px;
}

.tituloSuporte {
    font-size: 40px;
    font-style: italic;
    text-transform: uppercase;
}

.containerSuporte {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "formulario formulario imagemSuporte"
        "formulario formulario imagemSuporte"
        "formulario formulario imagemSuporte";
}

.formulario {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 25px 50px;
    grid-auto-flow: row;
    grid-template-areas:
        "nome sobrenome"
        "email apelido"
        "assunto assunto"
        "mensagem mensagem"
        "btnEnviar btnEnviar";

    grid-area: formulario;
    text-align: center;
}

.nome {
    grid-area: nome;
}

.sobrenome {
    grid-area: sobrenome;
}

.btnEnviar {
    grid-area: btnEnviar;
    display: flex;
    justify-content: flex-end;
}

.mensagem {
    grid-area: mensagem;
}

.assunto {
    grid-area: assunto;
}

.email {
    grid-area: email;
}

.apelido {
    grid-area: apelido;
}

.imagemSuporte {
    grid-area: imagemSuporte;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.suporteInput{
    width: 100%;
    border: #133052 solid 1px;
    border-radius: 5px;
    height: 50px;
}

.inpMensagem {
    height: 140px;
    width: 100%;
    border: #133052 solid 1px;
    border-radius: 5px;
}

.btnEnviar button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e13157;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    width: 183px;
    height: 36px;
    padding: 10px;
    font-size: 14px;
    font-weight: normal;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

.nome{
    position: relative;
}
.suporteInput{
    width: 300px;
    height: 35px;
    margin-top: 25px;
    padding: 0 15px;
    border: 1px solid #133052;
    border-radius: 5px;
    outline: none;
    transform-origin: top left;
    font-size: 1rem;
}

.placeholder{
    position: absolute;
    top: 35px;
    left: 15px;
}

.suporteInput::focus{
    top: 15px;
}